body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: url("images/Frame_2.png") no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%; 
    height: 40px;
    margin-bottom: -5px;

}
header nav a {
    margin: 0 10px;
    margin-right: 40px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
.logo {
    font-size: 1.5em;
    font-weight: bold;
}
.content {
    padding: 0px 20px;
}
.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}
.content p {
    margin: 5px 0;
    font-size: 1em;
    line-height: 1.5;
}
.map {
    margin-top: 20px;
    text-align: center;
    transition: 0.3s ease; 
    margin-bottom: 70px;
}
.map:hover {
    transform: scale(1.05); 
}
footer {
    background: #9EE37D;
    color: white;
    text-align: center;
    padding: 10px;
    position: center;
    bottom: 0;
    width: 100%;
}